body {
  background-color: #F6F2FF;
  font-family: Helvetica;
  color: #4F4F4F;
}

body, html, #root {
  height: 100%;
}

.text-primary {
  color: #240D57 !important
}

.text-secondary {
  color: #CCB6FF !important
}


.bg-secondary {
  background-color: #FBFAFF !important ;
  height: 100%;
}
